.outerCol {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100vh;
    height: 20vh;
    column-gap: 27px;
}
.innerCol1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    background-color: darkseagreen;
    max-width: 200px;
    text-align: center;
}
.innerCol1 p {
    border: darkseagreen solid 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.innerCol2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid dodgerblue;
    background-color: lightskyblue;
    max-width: 200px;
    text-align: center;
}
.innerCol2 p {
    border: lightskyblue solid 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.innerCol3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkred;
    background-color: indianred;
    text-align: center;
    max-width: 200px;
}
.innerCol3 p {
    border: indianred solid 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bestSold {
    display: flex;
    border: black dotted 2px;
    background-color: lightgrey;
    max-width: 88vh;
    height: 20vh;
    margin-bottom: 10px;
}

.specsTv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.specsTv2 {
    display: flex;
    flex-direction: row;
}
.images {
    width: 75%;
    height: 50%;
    margin-left: 6px;
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.samsung img {
    max-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.samsung {
    display: flex;
    width: 500px;
    background-color: lightgrey;
}

.body {
    margin: 30px;
}

.buttons {
    display: flex;
    column-gap: 10px;
}