.outerCol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    max-width: 100vh;
    height: 20vh;
    column-gap: 20px;
}
.innerCol1 {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    background-color: darkseagreen;
}
.innerCol2 {
    display: flex;
    flex-direction: column;
    border: 2px solid dodgerblue;
    background-color: lightskyblue;

}
.innerCol3 {
    display: flex;
    flex-direction: column;
    border: 2px solid darkred;
    background-color: indianred;
}

.bestSold {
    display: flex;
    border: black solid 2px;
    background-color: lightgrey;
    max-width: 100vh;
    height: 20vh;
}

.specsTv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.specsTv2 {
    display: flex;
    flex-direction: row;
}
.images {
    width: 100%;
    height: 100%;
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px red;
}

.samsung img {
 flex-basis: 100%;
}
.samsung {
    display: flex;
    width: 500px;
}